- if @posts.any?
  - @posts.each do |post|
    = image_tag post.image.url(:thumb)
    %h2= link_to post.title, post_path(post)
    = post.comments.last.comment if post.comments.any?
    = link_to 'Comment', new_post_comment_path(post)
- else
  %h1 No posts yet!

= link_to 'Add a photograph', new_post_path
