= image_tag @post.image.url(:medium)
%h2= @post.title
= link_to 'Edit Post', edit_post_path(@post)
= link_to 'Delete Post', post_path(@post), method: :delete
- if @post.comments.any?
  %ul
    - @post.comments.each do |comment|
      %li
        = comment.comment

